.navbar{
    background-color: rgb(59, 59, 59);
}

.navbar .navbar-brand img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.navbar ul li a{
    color: white;
    font-weight: 500;
}

.active{
    color: rgb(241, 70, 18);
    padding: 0.5rem;
    background-color: rgb(129, 241, 232);
}